/*************************/
/* 이벤트 관련
/************************/

/* 이벤트 목록 */
.event-list {}

.event-list .elp-title,
.event-list .ele-title {
    position: relative;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 600;
    color: #181818;
    letter-spacing: 11px;
}


.event-list .el-promotion {
    position: relative;
    width: 100%;
    margin-top: -40px;
    overflow: hidden;
}
.event-list .el-promotion .elp-wrap {
    position: relative;
    width: calc(100% + 120px);
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.event-list .el-promotion .swiper-pagination-fraction,
.event-list .el-promotion .swiper-button-prev,
.event-list .el-promotion .swiper-button-next {
    position: absolute;
    top: -20px;
    left: auto;
    right: 50%;
    background: none;
    font-size: 14px;
}
.event-list .el-promotion .swiper-pagination-fraction {
    width: auto;
    bottom: auto;
    margin-right: -540px;
    margin-top: -20px;
    font-family: 'Lato';
    font-size: 13px;
    letter-spacing: 2px;
}
.event-list .el-promotion .swiper-pagination-current {
    font-weight: 600;
}
.event-list .el-promotion .swiper-button-prev {
    margin-right: -585px;
}
.event-list .el-promotion .swiper-button-next {
    margin-right: -615px;
}
.event-list .el-promotion .swiper-button-prev:hover,
.event-list .el-promotion .swiper-button-next:hover {
    color: var(--color);
}

.event-list .el-promotion ul {
    position: relative;
    margin-left: -60px;
    margin-right: auto;
    padding: 0;
    z-index: 1;
}
.event-list .el-promotion ul > li {
    position: relative;
    width: 100%;
    padding: 60px;
    text-align: center;
    border-right: .5px solid #dadada;
}
.event-list .el-promotion ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
}
.event-list .el-promotion li .e_img {
    width: 100%;
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.event-list .el-promotion li .e_img span {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 100px;
    height: 80px;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    text-transform: uppercase;
}
.event-list .el-promotion li .e_info {
    width: 100%;
    text-align: center;
}
.event-list .el-promotion li .e_info p.txt {
    font-family: 'Lato';
    font-size: 12px;
    color: #181818;
    letter-spacing: 3.5px;
    margin-top: 40px;
}
.event-list .el-promotion li .e_info p.tit {
    height: 68px;
    font-size: 24px;
    color: #333;
    line-height: 1.4;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}
.event-list .el-promotion li .e_info p.more {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Lato';
    font-size: 13px;
    color: #000;
    line-height: 30px;
    letter-spacing: 1.3px;
    border-bottom: 1px solid #000;
}



.event-list .el-event {
    margin-top: 100px;
    overflow: hidden;
}






/* 이벤트 보기 */
.event-view {}







