/*************************/
/* 마이페이지 관련
/************************/
/* 레이아웃 */
.mypage-wrap {
    max-width: 1100px;
    margin: -15px auto 0;
}

.mypage-wrap .mw-info {
    clear: both;
    text-align: center;
    padding: 0 0 80px;
    margin: 0 0 80px;
    border-bottom: 3px solid #000;
    line-height: 1;
}
.mypage-wrap .mw-info .tit {
    font-size: 30px;
    font-weight: 500;
}
.mypage-wrap .mw-info .count {
    margin: 20px 0 0;
    font-size: 18px;
    color: #999;
}
.mypage-wrap .mw-info .count strong {
    font-family: 'Lato';
    font-weight: 600;
    color: #000;
}
.mypage-wrap .mw-info .edit {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
.mypage-wrap .mw-info .edit span {}
.mypage-wrap .mw-info .edit a {
    display: inline-block;
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}
.mypage-wrap .mw-info .edit a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #d4d4d4;
    vertical-align: middle;
    margin-right: 8px;
}
.mypage-wrap .mw-info .edit a:hover {
    color: var(--color);
}

.mypage-wrap .mw-menu {
    float: left;
    width: 25.47%;
    display: inline-block !important;
}
.mypage-wrap .mw-menu ul {
    margin-bottom: 50px;
}
.mypage-wrap .mw-menu ul li {}
.mypage-wrap .mw-menu ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    color: #181818;
}
.mypage-wrap .mw-menu ul li a:hover {
    color: var(--color);
}
.mypage-wrap .mw-menu ul li.now a {
    font-weight: 700;
}
.mypage-wrap .mw-menu ul li.now:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #000;
    margin: 0 0 4px 10px;
}

.mypage-wrap .mw-cont {
    float: right;
    width: 74.53%;
    padding: 9px 0 0;
    position: relative;
}





/* 예약 목록 */
.reserv-list {}







/* 관심 스테이 */
.wish-list {}

.wish-list .wl-list {
    position: relative;
    width: 100%;
    margin: 0 0 100px;
}
.wish-list .wl-list li {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.wish-list .wl-list li .wll-info {
    display: block;
    width: 50%;
    box-sizing: border-box;
    padding-right: 50px;
}
.wish-list .wl-list li .wll-info .name {
    display: block;
    width: 100%;
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wish-list .wl-list li .wll-info .loc {
    color: #333;
    line-height: 1.8;
}
.wish-list .wl-list li .wll-info .people {}
.wish-list .wl-list li .wll-info .price {
    font-family: 'Lato';
}
.wish-list .wl-list li .wll-info .link {
    margin-top: 20px;
}
.wish-list .wl-list li .wll-info .link a,
.wish-list .wl-list li .wll-info .link button {
    display: inline-block;
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}
.wish-list .wl-list li .wll-info .link a {
    padding-top: 8px;
    color: #fff;
    background: #000;
    border: 1px solid #000;
}
.wish-list .wl-list li .wll-info .link a:hover {
    opacity: 0.8;
}
.wish-list .wl-list li .wll-info .link button {
    background: #fff;
    border: 1px solid #000;
    margin-left: 10px;
}
.wish-list .wl-list li .wll-info .link button:hover {
    color: var(--color);
    border-color: var(--color);
}
.wish-list .wl-list li .wll-photo {
    display: block;
    width: 50%;
    height: 250px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wish-list .wl-list li .wll-photo:hover {
    opacity: 0.8;
}

.wish-list .wl-paging {}








/* 회원 정보 수정 버튼 */
.btn_bk {
    color: #fff;
    background: #000;
    border: 1px solid #000;
}


.btn_wh {
    color: #000000;
    background: #ffffff;
    border: 1px solid #000;
}


/* 비밀번호 입력 창*/


 .checked {
    margin: 8px 0;
    justify-content: space-between;
} 

.checked li {
    font-size: 14px;
    font-weight: 400;
    color: #bbb;
    
}
.checked li:before {
    font-family: 'FontAwesome';
    content: "\f00c";
    margin-right: 3px;
}
.checked li.on {
    color: var(--color);
}
.error {
    color: var(--color);
    margin: 8px 0;
    display: none;
}


.status {
	    font-size: 20px;
	    color: #bbb;
}

.status_notyet {
		font-size: 20px;
	    color: #000000;
}


